.main {
  width: 200px;
  background-color: purple;
	border-left-width: 5px;
}

.main div {
  /* border-left-width: 5px; */
	border-left-color: rgb(0,128,0);
  padding: 10px;
}

.container p {
  font-size: 20px;
}

.container .main {
  color: white;
}

/* Your CSS Code here. */